@charset "UTF-8";
body {
    margin: 0;
    background-color: #DAE4FA;
    background-image: url(bubblegum.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
wrapper {
    width: 1366px;
    margin: auto;
    display: block;
    background-color: #FFFFFF;
}
header {
    background-color: #AEAADE;
    color: #FFFFFF;
}
nav {
    background-color: #AEAADE;
    
}
ul {
}
li {
    display: inline-block;
    color: #FFFFFF;
    padding: 10px 20px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
li:hover {
}
main {
    height: 650px;
    background-image: url("BubbleGumNewJeans-RINGTONE-ezgif.com-video-to-gif-converter (1).gif");
    background-repeat: no-repeat;
    background-position: 0 0%;
    background-size: cover;
    color: #FFFFFF;
}
#home {
    background-image: url(halftone%20haerin.jpg);
}
#home #font {
    font-style: italic;
    text-shadow: 10px 0px 10px #6F75FF;
}
footer {
    padding: Set Shorthand;
    position: fixed;
	bottom: 0;
	width: 100vw;
	float: left;
